@import url('normalize.css');

.container{
    width: 100%;
    height: 100%;
}

.card{
    display: inline-block;
    border: 1px solid #000;
    border-radius: 5vh;
    text-align: center;
    margin: 10px;
}
.userImg{
    float: left;
    width: 50%;
    height: 100%;
}

.userImg img{
    width: 30%;
    height: 30%;
}

.userInfo{
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    justify-content: space-between;
}