body{
    background-color: black;
}
.container{
    background-color:grey;
    margin: 10px;
    padding:10px;
    display:flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow:  row wrap;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.card1{
    /* flex-grow: 1; */
}
.card{
    margin:1px;
    border:1px solid black;
    width: 30%;
    /* margin: 1rem; */
    border-radius: 10px;
    display:flex;
    align-items: center;
}
.userImg{
    width: 50%;
    border:1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.userImg img{
    width:30%;
    height: auto;
    border: 1px solid yellow;
}
.userInfo{
    width: 50%;
    border: 1px solid blue;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}